/* widht 공통 */
.width01{max-width: 1200px; margin: 0 auto;}
.width02{max-width: 850px; margin-left: auto; margin-right: auto;}

/* 접근성 타이틀 */
h2[title="hiddenTitle"]{height: 0.001px; overflow: hidden;}

/* 최상단 */
/* 최상단 타이틀*/
.mainPage .sliderArea ul li h3,
.subPage .topArea h2{font-size: 40px; font-weight: 500; /* line-height: 100px; */  margin-bottom: 40px;}
.subPage .topArea{color: white;}
/* .mainPage .sliderArea ul li p{margin-bottom: 45px;} */
.mainPage .sliderArea ul li p,
.subPage .topArea p{font-size: 20px; font-weight: 500; line-height: 30px;}

/* 최상단 width , height , background*/
.subPage .topArea > div{height: 700px; display: flex; flex-direction: column; justify-content: center; align-items: center; /* background-repeat: no-repeat; */ background-size: cover; background-position: center; text-align: center;}
.subPage .introduceArea .topArea > div{background-image: url('../images/introduce/introduceTop.png');}



/* 컨텐츠 타이틀 */
/* 메인 공통 */
:is(.mainPage , .subPage) > div section:not(.topArea) h2:not([title="hiddenTitle"]):not([class]){font-size: 30px; font-weight: 400; text-align: center; margin-bottom: 80px;}

/* 컨텐츠 사이 간격 */
:is(.mainPage ,.subPage) section:not(:last-of-type),
.mainPage > div > p{margin-bottom: 100px;}



/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; display: flex; justify-content: center; border-bottom: 1px solid white; z-index: 100;}
header h1{position: absolute; left: 50%; top: 15px; transform: translateX(-50%); max-width: 70px;}
header h1 a{display: block;}
header h1 a img{width: 100%;}
header ul{display: flex;}
header ul li{width: 0;}
header ul li:not(:last-child):not(:nth-child(3)){margin-right: 210px;}
header ul li:nth-child(3){margin-right: 420px;}
header ul li a{font-size: 18px; color: white; line-height: 100px; white-space: nowrap; transform: translateX(-50%);}
header > div{position: absolute; left: 0; left: 0; width: 100px; height: 100vh; background-color: #e9dabc; display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 30px 0 50px; box-sizing: border-box;}
header > div h2{max-width: 55px;}
header > div h2 img{width: 100%;}
header > div button{width: 35px;}
header > div button span{display: block; height: 2px; background-color: #c1a07b;}
header > div button span:not(:last-child){margin-bottom: 5px;}
header > div div{text-align: center;}
header > div div a{width: 80px; line-height: 35px; font-size: 16px; color: #e9dabc; border-radius: 100px; background-color: #255650;}
header > div div a:not(:last-child){margin-bottom: 10px;}

/* 푸터 */
footer > *{padding: 25px 0; border-top: 1px solid #e5e5e5;}
footer > div:first-of-type div{display: flex;align-items: center;}
footer > div:first-of-type div h2{width: 80px; margin-right: 50px;}
footer > div:first-of-type div h2 img{width: 100%;}
footer > div:first-of-type div ul{display: flex;}
footer > div:first-of-type div ul li{font-size: 20px; font-weight: 500;}
footer > div:first-of-type div ul li:first-child{color: #ed1b2f;}
footer > div:first-of-type div ul li:not(:last-child){margin-right: 30px;}
footer > div:nth-of-type(2) > div::after{content: ''; display: block; clear: both;}
footer > div:nth-of-type(2) > div{height: 102px;}
footer > div:nth-of-type(2) > div > *{float: left; height: 100%;}
footer > div:nth-of-type(2) > div > div:nth-child(1){width: calc((100% / 3) * 2.5);}
footer > div:nth-of-type(2) > div > div:nth-child(1){display: flex; flex-wrap: wrap; flex-direction: column;}
footer > div:nth-of-type(2) > div > div:nth-child(1) > *{display: flex; font-size: 18px; font-weight: 500;}
footer > div:nth-of-type(2) > div > div:nth-child(1) > *:not(:nth-child(4n)){margin-bottom: 10px;}
footer > div:nth-of-type(2) > div > div:nth-child(1) dl{display: flex;}
footer > div:nth-of-type(2) > div > div:nth-child(1) dl dt::after{content: ':'; display: inline-block; margin: 0 5px;}
footer > div:nth-of-type(2) > div > div:nth-child(2){width: calc((100% / 3) * 0.5); height: 100%; display: flex; flex-direction: column;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul{display: flex; justify-content: flex-end; align-items: center; flex: 1; }
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:not(:last-child){margin-right: 10px;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li a{display: block; width: 35px; height: 35px; background-repeat: no-repeat; background-position: center; background-size: cover;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(1) a{background-image: url('../images/common/SNSIcon01.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(2) a{background-image: url('../images/common/SNSIcon02.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(3) a{background-image: url('../images/common/SNSIcon03.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) select{margin-left: auto; font-size: 20px; width: 200px; height: 40px; padding: 5px 10px;}
footer > div:last-of-type p{text-align: center; font-size: 16px; font-weight: 500;}

