/* widht 공통 */
.width01{max-width: 1200px; margin: 0 auto;}
.width02{max-width: 850px; margin-left: auto; margin-right: auto;}

/* 접근성 타이틀 */
h2[title="hiddenTitle"]{height: 0.001px; overflow: hidden;}

/* 최상단 */
/* 최상단 타이틀*/
.mainPage .sliderArea ul li h3,
.subPage .topArea h2{font-size: 40px; font-weight: 500; /* line-height: 100px; */  margin-bottom: 40px;}
.subPage .topArea{color: white;}
/* .mainPage .sliderArea ul li p{margin-bottom: 45px;} */
.mainPage .sliderArea ul li p,
.subPage .topArea p{font-size: 20px; font-weight: 500; line-height: 30px;}

/* 최상단 width , height , background*/
.subPage .topArea div{background-repeat: no-repeat; background-size: cover; background-position: center; text-align: center;}
.subPage .topArea div{min-height: 700px; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.subPage.introduceArea .topArea div{background-image: url('../images/introduce/introduceTop.png');}
.subPage.experienceArea .topArea div{background-image: url('../images/experience/experienceTop.png');}
.subPage.commercialArea .topArea div{background-image: url('../images/commercial/commercialTop.png');}
.subPage:is(.franchiseArea , .detailArea) .topArea div{background-image: url('../images/franchise/franchiseTop.png');}
.subPage.businessArea .topArea div{background-image: url('../images/business/businessTop.png');}

.subPage .topArea .pagerArea{display: flex; justify-content: center; border-bottom: 1px solid #e6e6e6; font-size: 20px; line-height: 85px; color: #6f6f6f; text-align: center;}
.subPage .topArea .pagerArea li{flex: 1; max-width: 600px;}
.subPage .topArea .pagerArea li a{display: block; }
.subPage .topArea .pagerArea li a{border-width:0 1px; border-style: solid; border-color: #e6e6e6; }
.subPage .topArea .pagerArea li.active a{color: #255650;}
.subPage .topArea p.pagerArea{color: #255650;}


/* 컨텐츠 타이틀 */
/* 메인 공통 */
:is(.mainPage , .subPage) > div > section:not(.topArea) h2:not([title="hiddenTitle"]):not([class]){font-size: 30px; font-weight: 400; text-align: center; margin-bottom: 80px;}
.leftTitle{font-size: 30px; margin-bottom: 20px;}
/* 컨텐츠 사이 간격 */
:is(.mainPage ,.subPage) > div > *:not(:last-child),
.mainPage > div > p{margin-bottom: 100px;}

/* 버튼 */
.btn01{width: 150px; line-height: 50px; font-size: 20px; color: white; text-align: center; background-color: #255650;}


/* 해더 */
header{position: fixed; left: 0; top: 0; width: 100%; display: flex; justify-content: center; border-bottom: 1px solid white; z-index: 100; transition: background-color 0.5s;}
header h1{position: absolute; left: 50%; top: 15px; transform: translateX(-50%); width: 70px; height: 73px;}
header h1 a{display: block; height: 100%; background-image: url('../images/common/logo.png'); background-repeat: no-repeat; background-position: center; background-size: cover; text-indent: -9999px;}
header > ul{display: flex;}
header > ul li{width: 0;}
header > ul li:not(:last-child):not(:nth-child(3)){margin-right: 210px;}
header > ul li:nth-child(3){margin-right: 420px;}
header > ul li a{font-size: 18px; color: white; line-height: 100px; white-space: nowrap; transform: translateX(-50%); transition: color 0.5s;}
header aside{position: absolute; left: 0; left: 0; width: 100px; height: 100vh; background-color: #e9dabc; display: flex; flex-direction: column; justify-content: space-between; align-items: center; padding: 30px 0 50px; box-sizing: border-box;}
header aside h2{max-width: 55px;}
header aside h2 img{width: 100%;}
header aside > button{flex: 1; width: 100%; display: flex; flex-direction: column; justify-content: center; align-items: center;}
header aside > button span{width: 35px; height: 2px; background-color: #c1a07b;}
header aside > button span:not(:last-child){margin-bottom: 5px;}
header aside ul{text-align: center;}
header aside ul li:not(:last-child){margin-bottom: 10px;}
header aside ul li a{width: 80px; line-height: 35px; font-size: 16px; color: #e9dabc; border-radius: 100px; background-color: #255650;}
header aside > div{position: absolute; left: -100%; top: 0; width: 100%; height: 100%; display: flex; flex-direction: column; background-color: white; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1); transition: left 0.5s;}
header aside > div button{height: 100px; display: flex; justify-content: center; align-items: center; font-size: 20px; color: #e9dabc; background-color: #255650;}
header aside > div button::before{content: ''; width: 14px; height: 13px; background: url('../images/main/aside-btn.png') no-repeat center / cover; margin-right: 5px;}
header aside > div a{flex: 1; display: flex; flex-direction: column;  justify-content: center; align-items: center; font-size: 14px;}
header aside > div a::before{content: ''; width: 30px; height: 21px; background-repeat: no-repeat; background-position: center; background-size: cover; margin-bottom: 10px;}
header aside > div a:nth-of-type(1)::before{background-image: url('../images/main/aside-icon01.png');}
header aside > div a:nth-of-type(2)::before{background-image: url('../images/main/aside-icon02.png');}
header aside > div a:nth-of-type(3)::before{background-image: url('../images/main/aside-icon03.png');}

header.active{background-color: white; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);}
header.active h1 a{background-image: url('../images/common/logo_color.png');}
header.active > ul li a{color: black;}

header aside > div.active{left: 0;}


/* 상단부분 */
.topArea{}

/* 푸터 */
footer > *{padding: 25px 0; border-top: 1px solid #e5e5e5;}
footer > div:first-of-type div{display: flex;align-items: center;}
footer > div:first-of-type div h2{width: 80px; margin-right: 50px;}
footer > div:first-of-type div h2 img{width: 100%;}
footer > div:first-of-type div ul{display: flex;}
footer > div:first-of-type div ul li{font-size: 20px; font-weight: 500;}
footer > div:first-of-type div ul li:first-child{color: #ed1b2f;}
footer > div:first-of-type div ul li:not(:last-child){margin-right: 30px;}
footer > div:nth-of-type(2) > div::after{content: ''; display: block; clear: both;}
footer > div:nth-of-type(2) > div{height: 102px;}
footer > div:nth-of-type(2) > div > *{float: left; height: 100%;}
footer > div:nth-of-type(2) > div > div:nth-child(1){width: calc((100% / 3) * 2.5);}
footer > div:nth-of-type(2) > div > div:nth-child(1){display: flex; flex-wrap: wrap; flex-direction: column;}
footer > div:nth-of-type(2) > div > div:nth-child(1) > *{display: flex; font-size: 18px; font-weight: 500;}
footer > div:nth-of-type(2) > div > div:nth-child(1) > *:not(:nth-child(4n)){margin-bottom: 10px;}
footer > div:nth-of-type(2) > div > div:nth-child(1) dl{display: flex;}
footer > div:nth-of-type(2) > div > div:nth-child(1) dl dt::after{content: ':'; display: inline-block; margin: 0 5px;}
footer > div:nth-of-type(2) > div > div:nth-child(2){width: calc((100% / 3) * 0.5); height: 100%; display: flex; flex-direction: column;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul{display: flex; justify-content: flex-end; align-items: center; flex: 1; }
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:not(:last-child){margin-right: 10px;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li a{display: block; width: 35px; height: 35px; background-repeat: no-repeat; background-position: center; background-size: cover;}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(1) a{background-image: url('../images/common/SNSIcon01.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(2) a{background-image: url('../images/common/SNSIcon02.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) ul li:nth-child(3) a{background-image: url('../images/common/SNSIcon03.png');}
footer > div:nth-of-type(2) > div > div:nth-child(2) select{margin-left: auto; font-size: 20px; width: 200px; height: 40px; padding: 5px 10px;}
footer > div:last-of-type p{text-align: center; font-size: 16px; font-weight: 500;}

