/* 인트로 */
.introArea{position: relative; display: flex; height: 100vh; color: white; text-align: center;}
.introArea h1{position: absolute; z-index: 10; left: 50%; top: 5vh; transform: translateX(-50%);}
.introArea section{height: 100%; flex: 1; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-size: cover;}
.introArea section:nth-of-type(1){background-image: url('../images/intro/intro_BG01.png');}
.introArea section:nth-of-type(2){background-image: url('../images/intro/intro_BG02.png');}
.introArea section > div{position: relative;}
.introArea section > div h2{font-size: 100px; font-weight: 400; margin-bottom: 50px;}
.introArea section > div h2::after{content: attr(data-subTitle); display: block; font-size: 45px; font-weight: 400;}
.introArea section > div div{margin-bottom: 50px;}
.introArea section > div div span{display: block; border-radius: 100%; background-color: white; margin: 0 auto;}
.introArea section > div div span:not(:last-child){margin-bottom: 5px;}
.introArea section > div div span:nth-child(1){width: 9px; height: 9px;}
.introArea section > div div span:nth-child(2){width: 7px; height: 7px;}
.introArea section > div div span:nth-child(3){width: 5px; height: 5px;}
.introArea section > div p{max-width: 500px; font-size: 16px; line-height: 25px; margin:0 auto;}
.introArea section > div a{width: 250px; font-size: 40px; font-weight: 500; padding: 15px 0 20px; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%) translateY(calc(100% + 5vh));}
.introArea section > div a span{display: block; width: 90px; height: 3px; position: relative; margin: 20px auto 0; text-indent: -9999px;}
.introArea section > div a span::after{content: ''; position: absolute; right: 4px; bottom: 1px; width: 20px; height: 3px; background-color: inherit; transform-origin: right bottom; transform: rotate(45deg);}
.introArea section:nth-of-type(1) > div a{background-color: #255650; color: #e9dabc;}
.introArea section:nth-of-type(1) > div a span{background-color: #e9dabc;}
.introArea section:nth-of-type(2) > div a{background-color: #c1a07b;}
.introArea section:nth-of-type(2) > div a span{background-color: white;}


/* 메인 */
/* 메인 슬라이더*/
.mainPage .sliderArea{height: 700px;}
.mainPage .sliderArea ul{height: 100%;}
.mainPage .sliderArea ul li{height: 100%;  display: flex; flex-direction: column; justify-content: center; align-items: center; box-sizing: border-box; /*  display: flex; flex-direction: column; justify-content: center; align-items: center;  */background: url('../images/main/mainSliderImg01.png') no-repeat center / cover; color: white; text-align: center;}
.mainPage .sliderArea ul li mark{display: inline-block; width: 165px; line-height: 60px; font-size: 20px; font-weight: 500; color: #e9dabc; background-color: #255650; text-align: center; margin-top: 45px;}
.mainPage .swiper-horizontal>.swiper-pagination-bullets{bottom: 70px;}
.mainPage .swiper-horizontal>.swiper-pagination-bullets span{width: 10px; height: 10px; background-color: white; opacity: 0.6; border-radius: 100px;}
.mainPage .swiper-horizontal>.swiper-pagination-bullets span.swiper-pagination-bullet-active{width: 35px; opacity: 1;}

/* 메인 매장안내 */
.mainPage > div .storeArea h2{padding-top: 90px; background: url('../images/common/logo_color.png') no-repeat center top / 70px; position: relative;}
.storeArea h2 span{display: block; width: 205px; background-color: white; margin: 0 auto;}
.storeArea h2 span::before{content: ''; position: absolute; left: 0; bottom: 22px; width: 100%; height: 1px; background-color: #e5e5e5; z-index: -1;}
.storeArea ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.storeArea ul li{width: 24%; border-radius: 20px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); overflow: hidden; position: relative;}
.storeArea ul li:not(:nth-child(-n + 4)){margin-top: 2%;}
.storeArea ul li .imgBox{height: 230px; background: url('../images/main/storeInfo.png') no-repeat center / cover; text-indent: -9999px;}
.storeArea ul li .textBox{padding: 30px;}
.storeArea ul li .textBox strong{display: block; font-size: 25px; font-weight: 500; margin-bottom: 10px;}
.storeArea ul li .textBox p{font-size: 16px; line-height: 25px;}
.storeArea ul li .floorsBox{padding: 15px 30px; font-size: 25px; border-top: 1px solid #e5e5e5;}
.storeArea ul li a{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #255650; display: flex; justify-content: center; align-items: center; opacity: 0; transition: 0.5s opacity;}
.storeArea ul li a span{width: 65%; font-size: 20px; line-height: 55px; text-align: center; background-color: white; border-radius: 1000px; }
.storeArea ul li:hover a{opacity: 1;}

/* 메인 공지사항 */
.mainPage > div .noticeArea h2{position: relative;}
.mainPage > div .noticeArea h2::before{content: 'NOTICE'; display: block; font-size: 16px; font-weight: 700; color: #255650; margin-bottom: 70px;}
.mainPage > div .noticeArea h2::after{content: 'MOONCITY'; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); font-size: 90px; font-weight: 700; color: rgba(244, 218, 188, 0.3); z-index: -1;}
.mainPage > div .noticeArea ul{border-top: 1px solid #e9dabc; margin-bottom: 50px;}
.mainPage > div .noticeArea ul li{border-bottom: 1px solid #e5e5e5;}
.mainPage > div .noticeArea ul li a{display: flex; justify-content: space-between; padding: 30px 3%; font-size: 20px; font-weight: 500; color: #222222;}
.mainPage > div .noticeArea ul li a p{width: 50%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.mainPage > div .noticeArea ul li a time{font-family: 'Pretendard';}
.mainPage > div .noticeArea > a{display: block; margin: 0 auto; width: 200px; font-size: 25px; line-height: 60px; font-weight: 700; color: #e9dabc; text-align: center; border-radius: 1000px; background-color: #255650;}

/* 메인 패럴렉스*/
.mainPage > div > p{background-color: lightblue; font-size: 264.96px; font-size: 216.056px; font-weight: 700; color: transparent; background: url('../images/main/titleBG.png') no-repeat center / cover fixed; -webkit-background-clip: text;}

/* 메인 종합안내센터 */
.mainPage > div .synthesisArea{background: #255650 url('../images/main/logo_BG.png') no-repeat left center; background-size: auto 80%; padding: 70px 0;}
.mainPage > div .synthesisArea h2{color: #e9dabc; position: relative;}
.mainPage > div .synthesisArea h2::after{content: 'MOONCITY'; position: absolute; left: 50%; bottom: -25px; transform: translateX(-50%); font-size: 20px; color: #5e8883;}
.mainPage > div .synthesisArea ul{display: flex; justify-content: center;}
.mainPage > div .synthesisArea ul li{flex-basis: 600px; font-size: 25px; line-height: 30px; font-weight: 500; color: white; text-align: center; background-position: center top; background-repeat: no-repeat; padding-top: 100px;}
.mainPage > div .synthesisArea ul li:nth-child(1){background-image: url('../images/main/generalInfo01.png'); font-family: 'Pretendard'; border-right: 1px solid #c6c3a9;}
.mainPage > div .synthesisArea ul li:nth-child(2){background-image: url('../images/main/generalInfo02.png');}
.mainPage > div .synthesisArea ul li:nth-child(2) a{display: block; font-family: 'Pretendard';}



/* 소개 */
/* 소개 공통 */
.introduceArea mark{color: #255650;}
.introduceArea .bigTitle{font-size: 35px; font-weight: 400; text-align: center;}
.introduceArea .bigTitle ~ p{font-size: 16px; line-height: 20px; text-align: center; margin-top: 25px;}

/* 소개 - 이미지 */
.introduceArea .imgArea ul{display: flex; height: 585px; flex-direction: column; flex-wrap: wrap; align-content: space-between;}
.introduceArea .imgArea ul li{background-position: center; background-size: cover; text-indent: -9999px;}
.introduceArea .imgArea ul li:first-child{margin-bottom: 1.5%;}
.introduceArea .imgArea ul li:nth-child(-n + 2){flex: 1;}
.introduceArea .imgArea ul li:not(:nth-child(-n + 2)){height: 100%;}
.introduceArea .imgArea ul li:not(:nth-child(3)){width: 24.25%;}
.introduceArea .imgArea ul li:nth-child(3){width: 48.5%;}
.introduceArea .imgArea ul li:nth-child(1){background-image: url('../images/introduce/introduceImg01.png');}
.introduceArea .imgArea ul li:nth-child(2){background-image: url('../images/introduce/introduceImg02.png');}
.introduceArea .imgArea ul li:nth-child(3){background-image: url('../images/introduce/introduceImg03.png');}
.introduceArea .imgArea ul li:nth-child(4){background-image: url('../images/introduce/introduceImg04.png');}

/* 소개 - 즐기다 */
.introduceArea .enjoyArea p{margin-bottom: 50px;}
.introduceArea .enjoyArea div{display: flex; justify-content: space-between; align-items: center; position: relative;}
.introduceArea .enjoyArea div::after{content: ''; position: absolute; left: 50%; top: 50%; width: 150px; border-top: 1px dashed #255650; transform: translate(-50% , -50%);}
.introduceArea .enjoyArea div strong{width: 250px; height: 250px; display: flex; justify-content: center; align-items: center; background-color: #255650; border-radius: 100%; font-size: 30px; font-weight: 300; text-align: center; color: white;}
.introduceArea .enjoyArea div ul{width: 250px; position: relative;}
.introduceArea .enjoyArea div ul::before{content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background: linear-gradient(90deg, rgba(37,86,80,1) 0%, rgba(37,86,80,1) 50%, rgba(234,222,198,1) 50%, rgba(234,222,198,1) 100%);}
.introduceArea .enjoyArea div ul li{font-size: 30px; font-weight: 300; padding: 30px; position: relative;}
.introduceArea .enjoyArea div ul li::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background: linear-gradient(90deg, rgba(37,86,80,1) 0%, rgba(37,86,80,1) 50%, rgba(234,222,198,1) 50%, rgba(234,222,198,1) 100%);}

/* 소개 - 품질 */
.introduceArea .qualityArea{padding: 100px 0; background: url('../images/introduce/introduceBG.png') center / cover; color: white;}
.introduceArea .qualityArea h2{margin-bottom: 25px;}
.introduceArea .qualityArea div span{display: block; border-radius: 100%; background-color: white; margin: 0 auto;}
.introduceArea .qualityArea div span:not(:last-child){margin-bottom: 5px;}
.introduceArea .qualityArea div span:nth-child(1){width: 7px; height: 7px;}
.introduceArea .qualityArea div span:nth-child(2){width: 5px; height: 5px;}
.introduceArea .qualityArea div span:nth-child(3){width: 3px; height: 3px;}


/* 경험 */
.experienceArea .expArea{padding: 150px 0; color: white;}
/* 배경 */
.experienceArea .expArea , .experienceArea .expArea > div ul li div dl{background-color: #255650;}
.experienceArea .expArea > div > *:not(ul){padding: 0 50px; box-sizing: border-box; text-align: left;}
.experienceArea .expArea > div > h2.leftTitle{font-size: 30px; margin-bottom: 20px;}
.experienceArea .expArea > div > p{font-size: 20px; margin-bottom: 100px;}
.experienceArea .expArea > div ul{}
.experienceArea .expArea > div ul li{display: flex; justify-content: space-between;}
.experienceArea .expArea > div ul li > *{width: calc((100% - 50px) / 2); box-sizing: border-box;}
.experienceArea .expArea > div ul li div{ padding: 535px 230px 0 0; background-repeat: no-repeat; background-position: center; background-size: cover; }
.experienceArea .expArea > div ul li:nth-child(1) div{background-image: url('../images/experience/experienceImg01.png')}
.experienceArea .expArea > div ul li:nth-child(2) div{background-image: url('../images/experience/experienceImg02.png')}
.experienceArea .expArea > div ul li:nth-child(3) div{background-image: url('../images/experience/experienceImg03.png')}
.experienceArea .expArea > div ul li div dl{ padding: 20px 30px;}
.experienceArea .expArea > div ul li div dl dt{font-size: 25px; margin-bottom: 10px;}
.experienceArea .expArea > div ul li div dl dd{display: inline-block; font-size: 16px; padding: 10px 15px; border: 1px solid white;}
.experienceArea .expArea > div ul li p{font-size: 16px; line-height: 20px;}
.experienceArea .expArea > div ul li:nth-child(2n + 1) p{padding: 100px 100px 100px 0;}
.experienceArea .expArea > div ul li:nth-child(2n) p{padding: 200px 100px 200px 0;}
.experienceArea .expArea > div ul li:nth-child(2n){position: relative;}
.experienceArea .expArea > div ul li:nth-child(2n) div{position: absolute; right: 0; bottom: -20px;}

.experienceArea .enjoyArea{background: linear-gradient(0deg, rgba(37,86,80,1) 0%, rgba(37,86,80,1) 50%, rgba(234,222,198,0) 50%, rgba(234,222,198,0) 100%); padding-bottom: 100px; color: white;}
.experienceArea .enjoyArea h2{color: #255650; font-weight: 700;}
.experienceArea .enjoyArea h2 small{display: block; font-size: 20px; margin-bottom: 20px;}
.experienceArea .enjoyArea ul{display: flex; gap: 20px;}
.experienceArea .enjoyArea ul li{flex: 1; }
.experienceArea .enjoyArea ul li:nth-child(2n){padding-top: 100px;}
.experienceArea .enjoyArea ul li p{font-size: 25px; font-weight: 300; text-align: center; background-repeat: no-repeat; background-position: center top; background-size: contain; padding-top: 175%;}
.experienceArea .enjoyArea ul li:nth-child(1) p{background-image: url('../images/experience/enjoyImg01.png');}
.experienceArea .enjoyArea ul li:nth-child(2) p{background-image: url('../images/experience/enjoyImg02.png');}
.experienceArea .enjoyArea ul li:nth-child(3) p{background-image: url('../images/experience/enjoyImg03.png');}
.experienceArea .enjoyArea ul li:nth-child(4) p{background-image: url('../images/experience/enjoyImg04.png');}

.experienceArea > div > p{font-size: 1960%; margin-bottom: 100px; font-weight: 500; color: #255650;}

.experienceArea .cafeArea{color: white;}
.experienceArea .cafeArea{padding: 150px 0; text-align: left; background: url('../images/experience/cafeBG.png') no-repeat center / cover;}


/* 상업센터 */
.commercialArea{}
.commercialArea .tabArea{}
.commercialArea .tabArea .tabBtn{display: flex; justify-content: center; gap: 20px; margin-bottom: 100px;}
.commercialArea .tabArea .tabBtn li a{padding: 15px 20px; font-size: 20px; font-weight: 500; color: #6f6f6f; border: 1px solid #6f6f6f;}
.commercialArea .tabArea .tabBtn li.active a{color: #e9dabc; border-color: #255650; background-color: #255650;}
.commercialArea .tabArea .tabCantents{}
.commercialArea .tabArea .tabCantents li:not(:last-child){margin-bottom: 80px;}
.commercialArea .tabArea .tabCantents li img{width: 100%; margin-bottom: 80px;}
.commercialArea .tabArea .tabCantents li figcaption{display: flex;}
.commercialArea .tabArea .tabCantents li figcaption strong{font-size: 30px; white-space: nowrap; margin-right: 16.25%;}
.commercialArea .tabArea .tabCantents li figcaption strong mark{display: inline-block; font-size: 20px; color: #255650; margin-left: 25px;}
.commercialArea .tabArea .tabCantents li figcaption div{}
.commercialArea .tabArea .tabCantents li figcaption div::after{content: ''; display: block; clear: both;}
.commercialArea .tabArea .tabCantents li figcaption div p{font-size: 20px; line-height: 25px;}
.commercialArea .tabArea .tabCantents li figcaption div p:first-of-type{margin-bottom: 50px;}
.commercialArea .tabArea .tabCantents li figcaption div p:nth-of-type(2){margin-bottom: 25px;}
.commercialArea .tabArea .tabCantents li figcaption div a{float: left; width: 155px; line-height: 45px; font-size: 18px; text-align: center; border: 1px solid #255650;}
.commercialArea .tabArea .tabCantents li figcaption div a:nth-of-type(1){color: #255650; margin-right: 20px;}
.commercialArea .tabArea .tabCantents li figcaption div a:nth-of-type(2){color: #e9dabc; background-color: #255650;}

.commercialArea .sliderArea .swiper-slide{height: 800px; padding: 150px 4%; box-sizing: border-box; display: flex; flex-direction: column; color:white;}
.commercialArea .sliderArea .swiper-slide:nth-child(1){background: url('../images/commercial/sliderImg01.png') no-repeat center / cover;}
.commercialArea .sliderArea .swiper-slide:nth-child(2){background: url('../images/commercial/sliderImg02.png') no-repeat center / cover;}
.commercialArea .sliderArea .swiper-slide:nth-child(3){background: url('../images/commercial/sliderImg03.png') no-repeat center / cover;}
.commercialArea .sliderArea .swiper-slide:nth-child(4){background: url('../images/commercial/sliderImg04.png') no-repeat center / cover;}
.commercialArea .sliderArea .swiper-slide h3{font-size: 30px; margin-bottom: 30px;}
.commercialArea .sliderArea .swiper-slide p{font-size: 20px; line-height: 25px;}
.commercialArea .sliderArea .swiper-slide a{margin-top: auto; font-size: 18px; color: #e9dabc; text-align: center; width: 190px; line-height: 45px; border-radius:100em; background-color: #255650;}


/* 프렌차이즈 */
.franchiseArea > div{margin-bottom: 100px;}
.franchiseArea .storeArea ul{margin-bottom: 50px;}
.franchiseArea .storeArea > a{display: block; margin: 0 auto;}


/* 프렌차이즈 디테일*/
.detailArea > div{margin-bottom: 100px;}
.detailArea .imgBox img{width: 100%;}
.detailArea figure img{float: left; margin-right: 35px;}
.detailArea figure figcaption > *:not(:last-child){margin-bottom: 50px;}
.detailArea figure figcaption h3{font-size: 25px;}
.detailArea figure figcaption .simpleArea{display: flex; flex-direction: column; flex-wrap: wrap; justify-content: center;  align-content: space-between; height: 60px;}
.detailArea figure figcaption .simpleArea h2{height: 70%; font-size: 25px;}
.detailArea figure figcaption .simpleArea a{font-size: 18px; color: #e9dabc; width: 155px; line-height: 45px; text-align: center; background-color: #255650; border-radius: 100em;}
.detailArea figure figcaption .infoArea{clear: both; display: flex; flex-wrap: wrap;}
.detailArea figure figcaption .infoArea h3{width: 100%;}
.detailArea figure figcaption .infoArea dl{height: 110px; width: 50%; border-bottom: 1px solid #e5e5e5; display: flex; align-items: center;}
.detailArea figure figcaption .infoArea dl dt{font-size: 20px; padding-left: 10px; position: relative;}
.detailArea figure figcaption .infoArea dl dt::before{content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 1px; background-color: black;}
.detailArea figure figcaption .infoArea dl dd{font-size: 16px;}
.detailArea figure figcaption .aboutArea h3{margin-bottom: 30px;}
.detailArea figure figcaption .aboutArea p:nth-of-type(1){font-size: 20px; padding-left: 10px; position: relative; margin-bottom: 30px;}
.detailArea figure figcaption .aboutArea p:nth-of-type(1)::before{content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 1px; background-color: black;}
.detailArea figure figcaption .aboutArea p:nth-of-type(2){padding-left: 10px; line-height: 20px;}
.detailArea figure figcaption > a{display: block; margin: 0 auto;}


.businessArea > div{margin-bottom: 100px;}
.businessArea .steadyArea h2{padding-top: 125px; position: relative; margin-bottom: 50px;}
.businessArea .steadyArea h2::before{content: ''; position: absolute; left: 50%; top: 0; transform: translateX(-50%); width: 1px; height: 80px; background-color: black;}
.businessArea .steadyArea h2 b{display: block; font-size: 60px; font-weight: 400; margin-top: 20px;}
.businessArea .steadyArea figure img{width: 100%; margin-bottom: 15px;}
.businessArea .steadyArea figure figcaption{display: flex; justify-content: space-between;}
.businessArea .steadyArea figure figcaption div h3{padding: 35px 0; font-size: 25px; border-bottom: 1px solid black; margin-bottom: 35px;}
.businessArea .steadyArea figure figcaption div p{font-size: 16px; font-weight: 400; margin-bottom: 60px;}
.businessArea .steadyArea figure figcaption div:first-of-type{width: 66.66%;}
.businessArea .steadyArea figure figcaption div:first-of-type p{line-height: 21.5px;}
.businessArea .steadyArea figure figcaption div:first-of-type ul{display: flex;}
.businessArea .steadyArea figure figcaption div:first-of-type ul li{display: flex; align-items: flex-end; font-size: 16px; font-weight: 300;}
.businessArea .steadyArea figure figcaption div:first-of-type ul li:not(:last-child){margin-right: 50px;}
.businessArea .steadyArea figure figcaption div:first-of-type ul li::before{content: ''; width: 21px; height: 22px; background: url('../images/business/icon.png') no-repeat center / cover; margin-right: 15px;}
.businessArea .steadyArea figure figcaption div:first-of-type ul li mark{font-weight: 500; color: #37645e; margin-right: 10px;}
.businessArea .steadyArea figure figcaption div:nth-of-type(2){width: 31.66%;}
.businessArea .steadyArea figure figcaption div:nth-of-type(2) p{margin-bottom: 50px;}
.businessArea .steadyArea figure figcaption div:nth-of-type(2) p span{display: block; font-size: 20px; margin-bottom: 20px;}