/* 인트로 */
.introArea{position: relative; display: flex; height: 100vh; color: white; text-align: center;}
.introArea h1{position: absolute; z-index: 10; left: 50%; top: 5vh; transform: translateX(-50%);}
.introArea section{height: 100%; flex: 1; display: flex; justify-content: center; align-items: center; background-repeat: no-repeat; background-position: center; background-size: cover;}
.introArea section:nth-of-type(1){background-image: url('../images/intro/intro_BG01.png');}
.introArea section:nth-of-type(2){background-image: url('../images/intro/intro_BG02.png');}
.introArea section > div{position: relative;}
.introArea section > div h2{font-size: 100px; font-weight: 400; margin-bottom: 50px;}
.introArea section > div h2::after{content: attr(data-subTitle); display: block; font-size: 45px; font-weight: 400;}
.introArea section > div div{margin-bottom: 50px;}
.introArea section > div div span{display: block; border-radius: 100%; background-color: white; margin: 0 auto;}
.introArea section > div div span:not(:last-child){margin-bottom: 5px;}
.introArea section > div div span:nth-child(1){width: 9px; height: 9px;}
.introArea section > div div span:nth-child(2){width: 7px; height: 7px;}
.introArea section > div div span:nth-child(3){width: 5px; height: 5px;}
.introArea section > div p{max-width: 500px; font-size: 16px; line-height: 25px; margin:0 auto;}
.introArea section > div a{width: 250px; font-size: 40px; font-weight: 500; padding: 15px 0 20px; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%) translateY(calc(100% + 5vh));}
.introArea section > div a span{display: block; width: 90px; height: 3px; position: relative; margin: 20px auto 0; text-indent: -9999px;}
.introArea section > div a span::after{content: ''; position: absolute; right: 4px; bottom: 1px; width: 20px; height: 3px; background-color: inherit; transform-origin: right bottom; transform: rotate(45deg);}
.introArea section:nth-of-type(1) > div a{background-color: #255650; color: #e9dabc;}
.introArea section:nth-of-type(1) > div a span{background-color: #e9dabc;}
.introArea section:nth-of-type(2) > div a{background-color: #c1a07b;}
.introArea section:nth-of-type(2) > div a span{background-color: white;}


/* 메인 */
/* 메인 공통 */
.mainArea > div h2{font-size: 30px; font-weight: 400; text-align: center; margin-bottom: 80px;}
/* 메인 슬라이더*/
.mainArea section ,.mainArea > div > p{margin-bottom: 100px;}
/* 높이가 다를 땐 어떻게 하지? */
.mainArea .sliderArea{height: 700px;}
.mainArea .sliderArea ul{height: 100%;}
.mainArea .sliderArea ul li{height: 100%;  display: flex; flex-direction: column; justify-content: center; align-items: center; box-sizing: border-box; /*  display: flex; flex-direction: column; justify-content: center; align-items: center;  */background: url('../images/main/mainSliderImg01.png') no-repeat center / cover; color: white; text-align: center;}
.mainArea .sliderArea ul li h3{font-size: 40px; font-weight: 500; line-height: 100px; max-width: 850px; margin: 0 auto 30px;}
.mainArea .sliderArea ul li p{font-size: 20px; font-weight: 500; margin-bottom: 45px;}
.mainArea .sliderArea ul li mark{display: inline-block; width: 165px; line-height: 60px; font-size: 20px; font-weight: 500; color: #e9dabc; background-color: #255650; text-align: center;}
.mainArea .swiper-horizontal>.swiper-pagination-bullets{bottom: 70px;}
.mainArea .swiper-horizontal>.swiper-pagination-bullets span{width: 10px; height: 10px; background-color: white; opacity: 0.6; border-radius: 100px;}
.mainArea .swiper-horizontal>.swiper-pagination-bullets span.swiper-pagination-bullet-active{width: 35px; opacity: 1;}

/* 메인 매장안내 */
.mainArea > div .storeArea h2{padding-top: 90px; background: url('../images/common/logo_color.png') no-repeat center top / 70px; position: relative;}
.mainArea > div .storeArea h2 span{display: block; width: 205px; background-color: white; margin: 0 auto;}
.mainArea > div .storeArea h2 span::before{content: ''; position: absolute; left: 0; bottom: 22px; width: 100%; height: 1px; background-color: #e5e5e5; z-index: -1;}
.mainArea > div .storeArea ul{display: flex; flex-wrap: wrap; justify-content: space-between;}
.mainArea > div .storeArea ul li{width: 24%; border-radius: 20px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2); overflow: hidden; position: relative;}
.mainArea > div .storeArea ul li:not(:nth-child(-n + 4)){margin-top: 2%;}
.mainArea > div .storeArea ul li .imgBox{height: 230px; background: url('../images/main/storeInfo.png') no-repeat center / cover; text-indent: -9999px;}
.mainArea > div .storeArea ul li .textBox{padding: 30px;}
.mainArea > div .storeArea ul li .textBox strong{display: block; font-size: 25px; font-weight: 500; margin-bottom: 10px;}
.mainArea > div .storeArea ul li .textBox p{font-size: 16px; line-height: 25px;}
.mainArea > div .storeArea ul li .floorsBox{padding: 15px 30px; font-size: 25px; border-top: 1px solid #e5e5e5;}
.mainArea > div .storeArea ul li a{position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #255650; display: flex; justify-content: center; align-items: center; opacity: 0; transition: 0.5s opacity;}
.mainArea > div .storeArea ul li a span{width: 75%; font-size: 25px; line-height: 60px; text-align: center; background-color: white; border-radius: 1000px; }
.mainArea > div .storeArea ul li:hover a{opacity: 1;}

/* 메인 공지사항 */
.mainArea > div .noticeArea h2{position: relative;}
.mainArea > div .noticeArea h2::before{content: 'NOTICE'; display: block; font-size: 16px; font-weight: 700; color: #255650; margin-bottom: 70px;}
.mainArea > div .noticeArea h2::after{content: 'MOONCITY'; position: absolute; left: 50%; bottom: 0; transform: translateX(-50%); font-size: 90px; font-weight: 700; color: rgba(244, 218, 188, 0.3); z-index: -1;}
.mainArea > div .noticeArea ul{border-top: 1px solid #e9dabc; margin-bottom: 50px;}
.mainArea > div .noticeArea ul li{border-bottom: 1px solid #e5e5e5;}
.mainArea > div .noticeArea ul li a{display: flex; justify-content: space-between; padding: 30px 3%; font-size: 20px; font-weight: 500; color: #222222;}
.mainArea > div .noticeArea ul li a p{width: 50%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.mainArea > div .noticeArea ul li a time{font-family: 'Pretendard';}
.mainArea > div .noticeArea > a{display: block; margin: 0 auto; width: 200px; font-size: 25px; line-height: 60px; font-weight: 700; color: #e9dabc; text-align: center; border-radius: 1000px; background-color: #255650;}

/* 메인 패럴렉스*/
.mainArea > div > p{background-color: lightblue; font-size: 264.96px; font-size: 11.3vw; font-weight: 700; color: transparent; background: url('../images/main/titleBG.png') no-repeat center / cover fixed; -webkit-background-clip: text;}

/* 메인 종합안내센터 */
.mainArea > div .synthesisArea{background: #255650 url('../images/main/logo_BG.png') no-repeat left center; background-size: auto 80%; padding: 70px 0;}
.mainArea > div .synthesisArea h2{color: #e9dabc; position: relative;}
.mainArea > div .synthesisArea h2::after{content: 'MOONCITY'; position: absolute; left: 50%; bottom: -25px; transform: translateX(-50%); font-size: 20px; color: #5e8883;}
.mainArea > div .synthesisArea ul{display: flex; justify-content: center;}
.mainArea > div .synthesisArea ul li{flex-basis: 600px; font-size: 25px; line-height: 30px; font-weight: 500; color: white; text-align: center; background-position: center top; background-repeat: no-repeat; padding-top: 100px;}
.mainArea > div .synthesisArea ul li:nth-child(1){background-image: url('../images/main/generalInfo01.png'); font-family: 'Pretendard'; border-right: 1px solid #c6c3a9;}
.mainArea > div .synthesisArea ul li:nth-child(2){background-image: url('../images/main/generalInfo02.png');}
.mainArea > div .synthesisArea ul li:nth-child(2) a{display: block; font-family: 'Pretendard';}
